<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ /*
  ~  * This file is part of JSON:API implementation for PHP.
  ~  *
  ~  * (c) Alexey Karapetov <karapetov@gmail.com>
  ~  *
  ~  * For the full copyright and license information, please view the LICENSE
  ~  * file that was distributed with this source code.
  ~  */
  -->

<phpunit
        bootstrap="test/bootstrap.php"
        stopOnFailure="false"
        verbose="true"
        colors="true"
        syntaxCheck="true">
    <testsuites>
        <testsuite name="Main">
            <directory>./test</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">./src/</directory>
        </whitelist>
    </filter>
</phpunit>
